section {
    height: 90vh;
    padding-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
}
h1 {
    margin: 20px;
    display: inline-block;
    font-size: 40px;
}

img {
    height: 60px;
    margin: 10px;
    margin-right: 20px;
    float: right;
    border-radius: 30px;
}

@media (max-width: 1000px) {
    section {
        margin-left: 10%;
        margin-right: 10%;
        height: fit-content;
    }

    h1 {
        display: inline-block;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    img {
        display: inline-block;
        width: 50%;
        height: 50%;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 50%;
    }
}