@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

html, body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: 'Questrial', sans-serif;
    background-color: black;
}