<div id='resume'>
    <div class='sidebar' *ngIf="isDesktop">
        <button (click)='increment()'>
            <img src="./assets/fa/search-plus.svg" alt="zoom in">
        </button>
        <button (click)='decrement()'>
            <img src="./assets/fa/search-minus.svg" alt="zoom out">
        </button>
        <button (click)='download()'>
            <img src="./assets/fa/download.svg" alt="download">
        </button>
    </div>
    <pdf-viewer [src]="resumeRef" [render-text]='true' [zoom]='zoom' (after-load-complete)="pdfLoaded()" [original-size]="false" style="display:block; height: fit-content"></pdf-viewer>
</div>
