@import "../../../scss/variables";

#resume {
    height: 90vh;
    padding-top: 10vh;
    overflow: hidden;
}

.sidebar {
    height: 90vh;
    width: 97px;
    float: left;
}

button {
    background-color: $white;
    color: $black;
    padding: 15px;
    border: 0px;
    width: 51px;
    height: 51px;
    margin: 11px;
    margin-left: 23px;
    margin-right: 23px;
}

button:hover {
    background-color: $yellow;
}

@media (max-width: 1000px) {
    div {
        height: 100vh;
    }
}
