<div *ngIf="!loading" style="margin-top: 76px;">
    <div style="position: fixed; width: 100%; z-index: 2;">
        <!-- <p-toolbar>
            <div class="ui-toolbar-group-left">
                <div class="ui-inputgroup">
                    <button pButton type="button" icon="pi pi-search-minus" (click)="decrement()"></button>
                    <input pInputText type="text" placeholder="Zoom" [(ngModel)]="zoom">
                    <button pButton type="button" icon="pi pi-search-plus" (click)="increment()"></button>
                </div>
            </div>
            <div class="ui-toolbar-group-right">
                <a pButton type="button" label="Download" icon="pi pi-download" download [href]="resumeRef"></a>
            </div>
        </p-toolbar> -->
    </div>
    <pdf-viewer [src]="resumeRef" [render-text]='true' [zoom]='zoom' (after-load-complete)="pdfLoaded()"></pdf-viewer>
</div>